body {
  font-family: "Poppins";
  margin: auto;
  padding: 64px 140px;
  /* --- Background image --- */
  background-image: url(../images/cover.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact-section {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-violet);
  backdrop-filter: blur(10px);
  column-gap: 66px;
}

.contact-container {
  display: flex;
  justify-content: center;
  width: 1160px;
  height: 538px;
}
.container-header {
  width: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-form {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 4px;
  vertical-align: middle;
  color: #ffffff;
  text-shadow: 2px 4px 4px var(--secondary-color-light-pink);
  margin-bottom: 80px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}
.input-name,
.input-email {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-light-violet);
}
.input-name,
.input-email,
.textarea {
  font-family: "Poppins";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--secondary-color-grey);
  background: transparent;
}
.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 112px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid var(--secondary-color-light-violet);
  resize: none;
  color: var(--secondary-color-grey);
  background: transparent;
  cursor: pointer;
}
.textarea-label {
  font-family: "Poppins";
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: var(--primary-color-white);
  margin-bottom: 8px;
}
/* button */
button {
  width: 100%;
  height: 64px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(90deg, #ff00f7, #b700ff);
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}
